.l-header {
    background: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
        width: 72px;
        height: 72px;
        object-fit: cover;
    }
    &__nav{
        &__list{
            display: flex;
            align-items: center;
        }
    }
}