.l-main {
    &__services{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__title {}
        &__content {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-self: center;
            &__services {
                
            }
        }
    }
}